<h1>Google authentication app</h1>
<!-- <div class="icon-container">
  <asl-google-signin-button GoogleSigninButtonDirective  type='icon' size='medium'></asl-google-signin-button>
</div>



<div *ngIf="loggedIn">
  <img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>
</div> -->

<splide [options]="directionObj">
  <splide-slide>
      <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
  </splide-slide>
  <splide-slide>
      <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
<splide-slide>
  <img src="https://c4.wallpaperflare.com/wallpaper/882/99/651/download-full-size-nature-1920x1200-wallpaper-preview.jpg" alt="" />
</splide-slide>
</splide>

<!-- <div class="splide" role="group" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">Slide 01</li>
			<li class="splide__slide">Slide 02</li>
			<li class="splide__slide">Slide 03</li>
		</ul>
  </div>
</div> -->

